<form method="post" action="{{ path('event_delete', {'id': event.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cet évenement?');">
    <input type="hidden" name="_method" value="event_deleteDELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}">
    <button class="bg-transparent"><i class="fas fa-trash-alt"></i></button>
</form>
