{% extends 'base.html.twig' %}

{% block title %}Evènement{% endblock %}

{% block body %}
    <div class="container">
        <div class="row align-items-center">
            <a class="col-3" href="{{ path('event_index') }}"><i class="fas fa-chevron-left"></i>Retour a la liste</a>
            <h1 class="col-xs-12 col-md-7 mt-5 text-center">{{ event.title }}</h1>
        </div>
        <a class="mt-5" href="{{ path('edition_event_index') }}">Voir les differentes editions</a>

        <h2 class="text-center mt-5 mb-5">Evolution du nombre de participant de ce service :</h2>
        <h1 class="mt-5">A TOI DE JOUER POUR LE GRAPHIQUE FACE DE CLAVIER QWERTY</h1>
    </div>
{% endblock %}