<form method="post" action="{{ path('service_delete', {'id': service.id}) }}" onsubmit="return confirm('Confirmer la suppression');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ service.id) }}">
    <button class="bg-transparent"><i class="fas fa-trash-alt"></i></button>
</form>
