<form method="post" action="{{ path('edition_service_delete', {'id': edition.service.id}) }}" onsubmit="return confirm('Confimer la suppression?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ edition.service.id) }}">
    <button class="btn">Effacer</button>
</form>
