{% extends 'base.html.twig' %}

{% block title %}New EditionService{% endblock %}

{% block body %}
    <h1>Create new EditionService</h1>

    {{ include('edition_service/_form.html.twig') }}

    <a href="{{ path('edition_service_index') }}">back to list</a>
{% endblock %}
