main {
  height: 100vh;
}
h1{
  font-family:$font-title, sans-serif;
  font-weight:bold;
  font-size: 5em;
}
h2{
  font-family:$font-title, sans-serif;
  font-weight:bold;
  font-size: 3em;
}

.bg-transparent{
  border: none;
  color: $primary;
}

.modifPage{
  padding-top: 8%;
}