.logo {
  width: 220px;
  padding-right: 20%;
}
.logoLabo {
  width: 50px;
}

.nav-tabs {
  background-color: $light-color;
  font-family: $font-title;
}
button {
  background-color: $variableBtn-color;
}g