<form method="post" action="{{ path('start_up_delete', {'id': start_up.id}) }}" onsubmit="return confirm('Étes-vous de vouloir supprimer cette start-up?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ start_up.id) }}">
    <button class="btn">Effacer</button>
</form>
