{% extends 'base.html.twig' %}

{% block title %}New StartUp{% endblock %}

{% block body %}
    <h1>Create new StartUp</h1>

    {{ include('start_up/_form.html.twig') }}

    <a href="{{ path('start_up_index') }}">back to list</a>
{% endblock %}
