{% extends 'base.html.twig' %}

{% block title %}nouvelle start-up{% endblock %}

{% block body %}
    <h1>Créer un nouvelle start-up</h1>

    {{ include('start_up/_form.html.twig') }}

    <a href="{{ path('start_up_index') }}">Retour à la liste</a>
{% endblock %}
