{% extends 'base.html.twig' %}

{% block title %}Toutes les editions{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-between">
            <h1 class="mb-5 mt-5 text-center">Toutes les editions de l'évènement</h1>
        </div>
        <table class="table mt-5">
            <thead class="thead bg-primary">
            <tr class="text-center">
                <th class="text-white">Date</th>
                <th class="text-white">Nombre de participants</th>
                <th class="text-white">Voir cette edition</th>
            </tr>
            </thead>
            <tbody>
            {% for edition in edition_events %}
                <tr class="text-center">
                    <td>{{ edition.date|date('d/m/Y') }}</td>
                    <td>{{ edition.participants|length }}</td>
                    <td>
                        <a href="{{ path('edition_event_show', {'id': edition.id}) }}"><i class="fas fa-eye"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

