{% extends 'base.html.twig' %}

{% block title %}Nouvelle édition d'évenement{% endblock %}

{% block body %}
    <h1>Création d'édition d'évenement </h1>

    {{ include('edition_event/_form.html.twig') }}

    <a href="{{ path('edition_event_index') }}">back to list</a>
{% endblock %}
