{% extends 'base.html.twig' %}

{% block title %}Modifier l'Evenement{% endblock %}

{% block body %}
    <div class="text-center pt-5">
        <h2 class="text-center">  {{ edition_event.event.title }}  du  {{ edition_event.date ? edition_event.date|date('d-m-Y ') : '' }} </h2>

    </div>
    <div class="container modifPage justify-content-center">


        <p>Nombre d'inscrits : 40</p>
        <p>Total de personnes présentes : 36</p>
        <p>nombre contacts générés : 8</p>
        <p>Nombre de startups du LAB'O représentées  : 15</p>
        <p>Nombre de partenaires du LAB'O représentés   : 5</p>
        <p>Mise en relation qui ont généré du buisness ou une suite    : 4</p>


        <a href="{{ path('edition_event_repQuestion') }}"><button class="btn btn-info">Voir les réponses au questionnaire de satisfaction</button> </a>
    </div>

{% endblock %}
