<form method="post" action="{{ path('internal_partner_delete', {'id': internal_partner.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce partenaire?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ internal_partner.id) }}">
    <button class="btn">Supprimer</button>
</form>
